	




@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,700i&subset=cyrillic');
body {
	margin: 0;
	background-color: #000000;
	padding-top: 90px;
}

.head {
	background: #000000;
	height: 90px;
	font-size: 30px;
	border-bottom: 2px solid #151515;
	position: fixed;
	top: 0;
	width: 100%;
}

.tach_2 {
	width: 150px;
	text-align: center;
	margin: 0.1px;
	padding: 8px;
	transition: 0.2s all;
	background: #000000;
	border: 2px solid #FACC2E;
	float: right;
	font-size: 15px;
	color: #ffffff;
	cursor: pointer;
	font-family: Arial, Helvetica, Verbana, sans-serisf;
	font-size: 12px;
	margin-top: -12px;
	margin-left: 20px;
}

.tach_2:hover {
	background-color: #FACC2E;
}

.tach_1 {
	width: 100px;
	text-align: center;
	margin: 0.1px;
	transition: 0.6s all;
	background: #000000;
	font-size: 13px;
	float: left;
	color: #ffffff;
	cursor: pointer;
	font-family: Arial, Helvetica, Verbana, sans-serisf;

}	
.tach_1:hover 
{
	color: #FFBF00;
}

.tach_3 {
	width: 110px;
	text-align: center;
	margin: 0.1px;
	transition: 0.6s all;
	background: #000000;
	text-align: center;
	float: left;
	font-size: 1px;
	color: #ffffff;
	font-weight: bolder;
	font-family: Arial, Helvetica, Verbana, sans-serisf;
	font-size: 12px;
	cursor: pointer;
}




.tach_3:hover {
	color: #FACC2E;
}

.img_logo {
	float: left;
	width: 125px;
	margin-top: -20px;
}

.img_img {
	width: 100%;
	background: url("./images/01.jpg");
	height: calc(100vh - 90px);
}

.img_img_2 {
	box-shadow: inset 0 0 1500px 0 #000;
	box-sizing: border-box;
	padding: 300px 400px;
	width: 100%;
	height: 1px;
	background: url("./images/icon_3.jpg");
	background-size: cover;
	margin-top: 100px;
}

.tach_4 {
	width: 110px;
	text-align: center;
	margin: 0.1px;
	transition: 0.6s all;
	background: #000000;
	text-align: center;
	float: right;
	font-size: 1px;
	color: #ffffff;
	font-weight: bolder;
	font-family: Arial, Helvetica, Verbana, sans-serisf;
	font-size: 12px;
	cursor: pointer;
	letter-spacing: 1px;
}

.lincs {
	padding: 40px;
}

.text {
	width: 500px;
	height: 350px;
	margin: 0.1px;
	transition: 0.6s all;
	background: rgba(0, 0, 0, 0.7);
	float: left;
	margin-top: 75px;
	margin-left: 15px;
	padding: 50px 70px;
}

hr {
	border-color: #edc60f;
}

.text h1 {
	letter-spacing: 10px;
	line-height: 55px;
	color: #ffffff;
	font-size: 40px;
	font-family: Cinzel-Regular, serif;
	font-weight: 10;
}

.text_2 {
	color: #ffffff;
	font-size: 23px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 40px;
}

.main-btn {
	transition: 0.2s all;
	margin-top: 40px;
	padding-right: 19px;
	padding-left: 19px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid #FACC2E;
	text-align: center;
	font-size: 17px;
	color: white;
	text-transform: uppercase;
	display: inline-block;
	background: #FACC2E;
	cursor: pointer;
}

.main-btn:hover {
	background: rgba(0, 0, 0, 0);
}

.text_below_head {
	letter-spacing: 8px;
	margin-top: 110px;
	text-align: center;
	color: #FACC2E;
	font-size: 30px;
}

.text_below_head2 {
	text-align: center;
	color: #ffffff;
	font-size: 21px;
	margin-top: 25px;
}

.text_img {
	text-align: center;
	color: #ffffff;
	font-size: 46px;
	letter-spacing: 8px;
}

.text_img_2 {
	font-size: 20px;
	margin-top: 30px;
	text-align: center;
	color: #ffffff;
	font-family: Arial, Helvetica, Verbana, sans-serisf;
}

.tach_img_2_ {
	transition: 0.2s all;
	margin-top: 30px;
	padding-right: 19px;
	padding-left: 19px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid #FACC2E;
	text-align: center;
	font-size: 17px;
	color: white;
	text-transform: uppercase;
	display: inline-block;
	background: #FACC2E;
	cursor: pointer;
}

.tach_img_2_:hover {
	background-color: rgba(0, 0, 0, 0);
}

.img_img_3 {
	box-shadow: inset 0 0 1500px 0 #000;
	box-sizing: border-box;
	padding: 300px 400px;
	width: 100%;
	height: 1px;
	background: url("./images/icon_4.jpg");
	background-size: cover;
}

.img_img_4 {
	box-shadow: inset 0 0 1500px 0 #000;
	box-sizing: border-box;
	padding: 300px 400px;
	width: 100%;
	height: 1px;
	background: url("./images/icon_5.jpg");
	background-size: cover;
}

.btn-center {
	margin: 0 auto;
	display: table;
}

.text-ande {
	color: #FACC2E;
	text-align: center;
	margin-top: 150px;
	margin-bottom: 150px;
	font-size: 30px;
	letter-spacing: 12px;
}

.fab {
	color: #ffffff;
	transition: 0.1s all;
	margin-top: 40px;
	letter-spacing: 30px;
}

.fab:hover {
	color: #FACC2E;
	cursor: pointer;
}

.text-ande2 {
	color: #ffffff;
	text-align: center;
	font-size: 12px;
}


}
.img-ande1 {
	height: 1px;
	width: 1px;
}



.img-ande2 {
	box-shadow: inset 0 0 1500px 0 #000;
	box-sizing: border-box;
	padding: 470px 400px;
	width: 100%;
	height: 1px;
	background: url("./images/temno-ochen-temno-5c5ae32.jpg");
	background-size: cover;
	}


	.text-img-ande2{
		color: #FACC2E;
		font-size: 34px;
		margin-top: -350px;
		margin-left: -290px;
	}


	.font-size{
		font-size:20px;
		margin-top: 130px;
	}

	.img-img-ande2{
	
	float: right;  
	}

	.btn-img-ande2{
	transition: 0.2s all;
	margin-left: -290px;
	margin-top: 40px;
	padding-right: 150px;
	padding-left: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid #FACC2E;
	text-align: center;
	font-size: 17px;
	color: white;
	text-transform: uppercase;
	display: inline-block;
	background: #FACC2E;
	cursor: pointer;

	}